@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.top,
.bottom {
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 200vmax;
    height: 200vmax;
    top: 50%;
    left: 50%;
    margin-top: -100vmax;
    transform-origin: 0 50%;
    z-index: 10;
    opacity: 0.65;
  }
}

// .top {
//   &:before {
//     background: #bbc9f2;
//   }
//   &:after {
//     background: #d1d9f5;
//   }
// }
// .bottom {
//   &:before {
//     background: #9fa9e1;
//   }
//   //   &:after {
//   //     background: #818cc8;
//   //   }
// }
.center {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  color: #333;
  background: #bbc9f2;
  border-radius: 10px;
  input {
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #9fa9e1;
    font-family: inherit;
    background: #f0f4ff;
    color: #333;
  }
  button {
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #9fa9e1;
    font-family: inherit;
    background: #9fa9e1;
    color: white;
  }
}
